/* ######################################
	reset
####################################### */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* ######################################
	general
####################################### */
body, html {
	height: 100%;
}

body {
	background: url(../images/bg-map.jpg) center 0 no-repeat fixed #000;
	color: #fff;
	text-align: center;
	padding-bottom: 10px;
}
#nav {
	position: relative;
}
#wrap {
	width: 1500px;
	margin: 0 auto;
	height: 100%;
}

.rotate {
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	/* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
	-ms-transform:rotate(3deg);
}

/* ######################################
	font styles
####################################### */

#title {
	margin-top: 100px;
	font-size: 34px;
	text-transform: uppercase;
}

#title span {
	display: block;
}

#fly-in {
	position: relative;
}

/* ######################################
	nav
####################################### */

#nav {
    left: 50%;
    margin-left: -830px;
    position: fixed;
    top: 0;
    width: 1580px;
    z-index: 999999;
}
#nav li {
	list-style: none;
	float: left;
}
#nav span {
	display: block;
	padding: 6px;
	cursor: pointer;
	padding: 20px 0;
	height: 96px;
	background: url(../images/bg-nav-a.png) no-repeat;
	position: relative;
	color: #00ff00;
	width: 111px;
}
#nav em {
	position: absolute;
	top: 56px;
	left: 0;
	width: 111px;
	text-align: center;
	font-style: normal;
	font-size: 13px;
	color: #fff;
	display: none;
}
#nav span.selected  {
	background: url(../images/bg-nav-selected.png) no-repeat;
	color: #fff;
	font-size: 24px !important;
}
#nav span.selected em, #nav span:hover em {
	display: block;
}
#nav span:hover {
	background: url(../images/bg-nav-hover.png) no-repeat;
}

/* ######################################
	scrollblocks
####################################### */

#console {
	position: fixed;
	top: 0;
	right: 0;
	width: 120px;
	background: red;
	z-index: 999;
}

.scrollblock {	
	position: relative;
	margin: 0;
	width: 1500px;
	height: 918px;
	overflow: hidden;
	padding: 0 0 0 0;
}

#body-wrapper{
	width: 1500px;
	position: relative;
	margin: 0 auto;
	height: 100%;
}

#bookcover {
    left: 50%;
    margin-left: -819px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.scrollblock h1 {
    background: url("../images/chapter1/chapter-lines.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: block;
    font-family: Georgia;
    font-size: 19px;
    font-weight: normal;
    height: 58px;
    left: 260px;
    letter-spacing: 11px;
    line-height: 58px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 147px;
    width: 1039px;
}

.scrollblock h2 {
    color: #000000;
    display: block;
    font-family: Georgia;
    font-size: 36px;
    font-weight: normal;
    left: 260px;
    position: absolute;
    text-align: center;
    top: 210px;
    width: 1039px;
}

.scrollblock p {
	color: #000000;
    font-family: Georgia;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

/* ######################################
	
####################################### */

.frame-container  {
	position: absolute;
	right: 0;
	padding: 34px;
}

.frame-container .mid {
	background: #000;
	width: 300px;
	height: 100px;
	display: block;
	z-indxe: 99;
}

.frame-container .tl {
	width: 95px;
	height: 95px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/frame-sprite.png) 0 0;
	z-index: 10;
}

.frame-container .tr {
	width: 95px;
	height: 95px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/frame-sprite.png) right 0 ;
	z-index: 10;
}

.frame-container .br {
	width: 95px;
	height: 95px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../images/frame-sprite.png) right bottom ;
	z-index: 10;
}

.frame-container .bl {
	width: 95px;
	height: 95px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/frame-sprite.png) left bottom ;
	z-index: 10;
}

.frame-container .tmid {
	position: absolute;
	top: 0;
	left: 10px;
	height: 35px;
	width: 90%;
	background: url(../images/frame-hr.png) 0 0 repeat-x ;
}

.frame-container .bmid {
	position: absolute;
	bottom: 0;
	left: 10px;
	height: 39px;
	width: 90%;
	background: url(../images/frame-hb.png) 0 bottom repeat-x ;
}

.frame-container .rmid {
	position: absolute;
	top: 10px;
	right: 0;
	height: 90%;
	width: 43px;
	background: url(../images/frame-vr.png) right 0 repeat-y ;
}

.frame-container .lmid {
	position: absolute;
	top: 10px;
	left: 0;
	height: 90%;
	width: 43px;
	background: url(../images/frame-vl.png) left 0 repeat-y ;
}


/* ######################################
	background
####################################### */

#woodslogo {
	position: absolute;
	left: 170px;
	z-index: 20;
}
#nav {
	overflow: hidden;
	height: 280px;
}
#nav ul {
	background: url(../images/bg-nav.png) repeat-x;
    height: 136px;
    left: 330px;
    padding: 0 0 0 100px;
    position: absolute;
    top: 44px;
    width: 100% !important;
    z-index: 10;
}


/* ######################################
	background
####################################### */

#background { position: absolute; width: 100%; height: 100%; z-index: 1; top: 0; left: 0; overflow: hidden; background-color: #000000; }
#background .bg { position: absolute; line-height: 0; top: 0; left: 0; z-index: 1; }
#background > div > img { position: absolute; display: block; line-height: 0; top: 0; left: 0; }

#navi {
	position: absolute;
	bottom: 200px;
	background: blue;
	z-index: 10;
	list-style: none;
}
#navi li {
	float: left;
	list-style: none;
}


#navi li a {
	background: green;
	display: block;
	width: 20px;
	height: 20px;
}


/* ######################################
	chapter 1
####################################### */
#scroll1 {

}
#scroll1 .bg {
	position: absolute;
	top: 0;
	right: 0;
}

#scroll1 .frame1 {
    position: absolute;
    left: 450px;
    top: 521px;
}

#scroll1 .compass {
    position: absolute;
    right: 126px;
    top: 561px;
}

#scroll1 .textblock {  
    position: absolute;
    right: 726px;
    top: 261px;
    width: 510px;
}

#scroll1 .propeller {
    position: absolute;
    right: 219px;
    text-align: left;
    top: 639px;
}

/* ######################################
	chapter 2
####################################### */

#scroll2 .bg {
	position: absolute;
	top: 0;
	right: 0;
}

#scroll2 .map {
    position: absolute;
    right: -64px;
    top: 461px;
}

#scroll2 .textblock {  
    position: absolute;
    right: 726px;
    top: 261px;
    width: 510px;
}

/* ######################################
	chapter 3
####################################### */

#scroll3 .bg {
	position: absolute;
	top: -300px;
	right: 0;
}

#scroll3 .frame1 {
    height: 116px;
    left: 840px;
    position: absolute;
    top: 311px;
    width: 357px;
}

#scroll3 .lamplit {
    position: absolute;
    right: 186px;
    top: 460px;
}

#scroll3 .lampnotlit {
    position: absolute;
    right: 186px;
    top: 460px;
}

#scroll3 .textblock {  
    position: absolute;
    right: 726px;
    top: 261px;
    width: 510px;
}

#scroll3 .letter {
    bottom: 0;
    position: absolute;
    right: 406px;
}

#scroll3 .video {
    bottom: 50px;
    position: absolute;
    right: 736px;
    z-index: 10;
    width: 420px;
    height: 222px;
}

#scroll3 object {
    bottom: 90px;
    position: absolute;
    right: 783px;
    z-index: 10;
}

/* ######################################
	chapter 5
####################################### */

#scroll5 .bg {
	position: absolute;
	top: -300px;
	right: 0;
}

#scroll5 .frame1 {
    left: 470px;
    position: absolute;
    top: 396px;
    width: 422px;
    z-index: 10;
}

#scroll5 .frame2 {
    left: 850px;
    position: absolute;
    top: 636px;
    width: 272px;
    z-index: 10;
	
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	/* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
	-ms-transform:rotate(-3deg);
}

#scroll5 .book {
    position: absolute;
    right: 1020px;
    top: 626px;
    z-index: 10;
}

#scroll5 blockquote {
    background: url("../images/chapter8/bg-quote.png") repeat-x scroll 0 0 transparent;
    color: #000000;
    display: block;
    font-family: Georgia;
    font-size: 24px;
    height: 130px;
    left: 260px;
    padding: 10px 170px;
    position: absolute;
    text-align: center;
    top: 676px;
    width: 635px;
    z-index: 10;
    letter-spacing: 1px;
}

#scroll5 blockquote em {
	font-size: 16px;
}

#scroll5 .textblock1 {
    position: absolute;
    right: 736px;
    text-align: left;
    top: 303px;
    width: 512px;
}

#scroll5 .textblock2 {
    position: absolute;
    right: 190px;
    text-align: left;
    top: 330px;
    width: 522px;
}

#scroll5 .textblock3 {
    position: absolute;
    right: 198px;
    text-align: left;
    top: 500px;
    width: 522px;
}



/* ######################################
	chapter 6
####################################### */

#scroll6 .bg {
	position: absolute;
	top: -300px;
	right: 0;
}

#scroll6 .frame1 {
    position: absolute;
    right: 760px;
    top: 451px;
    z-index: 10;
}

#scroll6 .frame2 {
    position: absolute;
    right: 970px;
    top: 291px;
    z-index: 10;
}

#scroll6 .gasmask {
    position: absolute;
    right: 126px;
    bottom: 0;
    z-index: 10;
}

#scroll6 .smoke {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#scroll6 .smoke2 {
    position: absolute;
    right: -40px;
    bottom: 0;
    z-index: 10;
}

#scroll6 .textblock1 {
    position: absolute;
    right: 766px;
    text-align: right;
    top: 310px;
    width: 280px;
}

#scroll6 .textblock2 {
    position: absolute;
    right: 216px;
    top: 331px;
    width: 510px;
}

/* ######################################
	chapter 7
####################################### */

#scroll7 .bg {
	position: absolute;
	top: -300px;
	right: 0;
}

#scroll7 .frame1 {
    position: absolute;
    right: 350px;
    top: 360px;
    z-index: 10;
}

#scroll7 .frame2 {
    position: absolute;
    right: 630px;
    top: 550px;
    z-index: 10;
}

#scroll7 .textblock1 {
    position: absolute;
    right: 766px;
    text-align: left;
    top: 250px;
    width: 480px;
}

#scroll7 .textblock2 {
    position: absolute;
    right: 780px;
    top: 444px;
    width: 480px;
}

#scroll7 .textblock3 {
    position: absolute;
    right: 206px;
    top: 281px;
    width: 510px;
}

#scroll7 .wheel {
    position: absolute;
    right: 186px;
    top: 460px;
    z-index: 10;
}

/* ######################################
	chapter 8
####################################### */

#scroll8 .bg {
	position: absolute;
	top: -300px;
	right: 0;
}

#scroll8 .frame1 {
    position: absolute;
    left: 580px;
    top: 386px;
    z-index: 10;
    width: 300px;
}

#scroll8 .book {
    position: absolute;
    right: 1020px;
    top: 626px;
    z-index: 10;
}

#scroll8 blockquote {
    background: url("../images/chapter8/bg-quote.png") repeat-x scroll 0 0 transparent;
    color: #000000;
    display: block;
    font-family: Georgia;
    font-size: 24px;
    height: 130px;
    left: 260px;
    padding: 10px 170px;
    position: absolute;
    text-align: center;
    top: 676px;
    width: 635px;
    z-index: 10;
    letter-spacing: 1px;
}

#scroll8 blockquote em {
	font-size: 16px;
}

#scroll8 .textblock1 {
    position: absolute;
    right: 736px;
    text-align: left;
    top: 303px;
    width: 512px;
}

#scroll8 .textblock2 {
    position: absolute;
    right: 190px;
    text-align: left;
    top: 330px;
    width: 522px;
}

#scroll8 .textblock3 {
    position: absolute;
    right: 198px;
    text-align: left;
    top: 500px;
    width: 522px;
}

/* ######################################
	chapter 9
####################################### */
#scroll9 {
	height: 100%;
}
#scroll9 .bg {
	position: absolute;
	top: -300px;
	right: 0;
}

#scroll9 .frame2 {
    position: absolute;
    right: 520px;
    top: 440px;
    z-index: 10;
	width: 272px;
	height: 178px;

}

#scroll9 .frame1 {
    position: absolute;
    right: 818px;
    top: 521px;
    z-index: 10;
    height: 193px;
    width: 354px;

}

#scroll9 .realguy {
    position: absolute;
    right: 155px;
    top: 306px;
    z-index: 10;
    display: none;
}

#scroll9 .textblock1 {
    position: absolute;
    right: 686px;
    text-align: left;
    top: 260px;
    width: 528px;
}
